@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}

.card{
  @apply bg-blue-600 h-48 w-80 flex-1 rounded-lg relative overflow-hidden;
}

.card::before{
  content: '';
  @apply bg-indigo-800 h-80 w-80 -left-32 -top-10 absolute rounded-full;
}

.card::after{
  content: '';
  @apply bg-visaC2 h-44 w-44 absolute -right-14 -top-14 rounded-full;
}